extends layout

block content
  
  h1= title
  p Welcome to #{title}
  br
  if (user)
    p See your 
     a(url='/user') profile
  else
    button.btn.btn-primary(onclick="signin()") Login
    br
    br
    button.btn.btn-warning(onclick='loginEmailCode()') Login with a one time code via email
    br
    br
    button.btn.btn-warning(onclick='loginEmailLink()') Login with a magic link via email

block script
  script(src='https://325-22887863-gh.circle-artifacts.com/0/home/ubuntu/lock/build/lock.min.js')
  script.
    
    function signin() {    
      var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', {
        oidcConformant: true,
        auth: {
          redirectUrl: '#{env.AUTH0_CALLBACK_URL}',
          responseType: 'code',
          params: {
            scope: 'openid profile'
          }
        }
      });

      lock.show();
    }

    function loginEmailCode() {
      var lock = new Auth0LockPasswordless('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', {
        oidcConformant: true,
        passwordlessMethod: 'code',
        auth: {
          redirectUrl: '#{env.AUTH0_CALLBACK_URL}',
          responseType: 'code',
          params: {
            scope: 'openid profile'
          }
        }
      });

      lock.show();
    }

    function loginEmailLink() {
      var lock = new Auth0LockPasswordless('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', {
        oidcConformant: true,
        passwordlessMethod: 'link',
        auth: {
          redirectUrl: '#{env.AUTH0_CALLBACK_URL}',
          responseType: 'code',
          params: {
            scope: 'openid profile'
          }
        }
      });
      lock.show();
    }
