extends user-layout

mixin suggestedUserMixin(identity)
  tr(data-id='#{identity.user_id}')
    td #{identity.user_id}
    td #{identity.provider || identity.user_id.split('|')[0]}
    td 
      if (identity.picture)
        img.profile-image(src='#{identity.picture}')
    td #{identity.name}
    td #{identity.nickname}
    td #{identity.user_metadata}
    td #{identity.app_metadata}  
    td
      button.btn.btn-success.btn-xs.unlink(onclick='linkAccount("#{identity.user_id}")') link 

mixin identityMixin(identity)
  tr(data-id='#{identity.user_id}')
    td #{identity.provider}
    td #{identity.user_id}
    td #{identity.connection}
    td 
      if (identity.profileData && identity.profileData.picture)
        img.profile-image(src='#{identity.profileData && identity.profileData.picture}')
    td 
      pre #{JSON.stringify(identity.profileData,null,2)}
    td
      button.btn.btn-danger.btn-xs.unlink(onclick='unlinkAccount("#{identity.provider}","#{identity.user_id}")') unlink 

mixin description(label,val)
  dt #{label}
  dd #{val}

block content
  
  .panel.panel-default
    .panel-heading 
      img.img-circle.profile-image(src='#{user.picture}') 
      |Root Profile 
    .panel-body
      dl.dl-horizontal
        dt email
        dd #{user.email} &nbsp;
          if (user.email_verified)
            span.label.label-success verified
          else
            span.label.label-danger not verified
        dt raw profile
        dd
          pre.profile=JSON.stringify(user,null,2)


  .panel.panel-default
      .panel-heading Linked Accounts
      if (user.identities.length > 1)
        table.table.identities
          thead
            tr
              th provider
              th id
              th connection
              th(style='width:5%')
              th profileData
              th actions
          tbody
          each identity in user.identities
            if (identity.provider !== user.user_id.split('|')[0] && identity.user_id !== user.user_id.split('|')[1])
              +identityMixin(identity)
      else
        .panel-body
          p You don't have any accounts linked.

  .modal#suggest-modal
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
          h4 Link Accounts
        .modal-body
          p We noticed there are other registered users with same and verified e-mail address: <strong>#{user.email}</strong>. Do you want to link the accounts and merge its metadata?
          table.table.table-condensed
            thead
              tr
                th user_id
                th name
                th user_metadata
                th app_metadata
                th actions
            tbody#suggested-users
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") No, thanks.

block script
  script.
    var user = !{JSON.stringify(user)};
    console.log('user',user);
        
    function linkAccount(targetUserId) {
      $.ajax({
        type: 'POST',
        url: '/user/link-accounts/' + targetUserId,
      }).then(function(){
        alert('linked!!');
        location.reload();
      }).fail(function(jqXHR){
        alert('Error linking Accounts: ' + jqXHR.status + " " + jqXHR.responseText);
      });
    }
    
    function unlinkAccount(provider,userId){
      $.ajax({
        type: 'POST',
        url: '/user/unlink-accounts/' + provider + '/' + userId,
      }).then(function(){
        alert('unlinked!!');
        location.reload();
      }).fail(function(jqXHR){
        alert('Error unlinking Accounts: ' + jqXHR.status + " " + jqXHR.responseText);
      });
    }
    
    function getSuggestedUsers(){
      $.ajax({
        url: '/user/suggested-users',
        cache: false
      }).then(function(identities){
        if (identities.length > 0){

          $('#suggested-users tr').remove();

          $.each(identities,function(index,identity){
            $('#suggested-users').append(
              `<tr>
                <td>${identity.user_id}</td>
                <td>${identity.name}</td>
                <td>${JSON.stringify(identity.user_metadata,null,2)}</td>
                <td>${JSON.stringify(identity.app_metadata,null,2)}</td>
                <td><button onclick="linkAccount('${identity.user_id}')" class="btn btn-success">Link</button></td>
              </tr>`);
          });

          $('#suggest-modal').modal();
        }
      }).fail(function(jqXHR){
        alert('Error getting suggested users: ' + jqXHR.status + " " + jqXHR.responseText);
      });
    }

    $(document).ready(function() {
      //request suggested accounts to link to
      if (user.email_verified){
        getSuggestedUsers();
      }
    });
